
.row {
    clear: left;
}

.dark {
    background-color: Bisque;
}

.light {
    background-color:BurlyWood;
}

.cell {
    height: 80px;
    width: 80px;
    float: left;
    cursor: pointer;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
